body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    font-family: 'DM Serif Display', serif;
    color: white;
}

.checkgroup {
    border: 1px solid black;
    color: #ffffff;
    padding: 10%;
    display:flex;
    flex-direction: column;
    background-color: #191970;
    font: 100% 'DM Serif Display', Helvetica, sans-serif;
    border-radius: 20%;
}
