html {
    background-image: url("https://i.imgur.com/fU0XhVE.jpg");
}

.wrapper {
    display: grid;
    grid-template-columns: 5, 1fr;
    grid-gap: 5px;

}




.todo {
    grid-column-start: 2;


}


li {
    list-style: none
}
